.main {
    font-family: 'Poppins', sans-serif;
    width: 70vw;
    margin: 20px auto;
}

.card {
    margin: 20vh auto;
    padding: 80px 80px;
    width: 90vh;
    /* background: url(../../assets/img/circles.svg) no-repeat; */
    background-size: 70% 80%;
    background-position: center right;
    border: 1px solid rgba(255, 133, 110, 0.25);
    box-shadow: 4px 4px 4px rgba(255, 133, 110, 0.25);
    border-radius: 10px;
}

.card p {
    color: #EEA06B;
}

.logo {
    margin-bottom: 50px;
}

.gradient-text{
    background: linear-gradient(90deg, #EEA06B 0%, #FFD973 100%);
    background-size: 100%;
    background-clip: text;
    color: transparent;
}

#heading {
    display: inline;
    font-weight: bold;
    font-size: 36px;
}

#sub-heading {
    display: inline;
    font-weight: normal;
    font-size: 18px;
}


#normal-text {
    margin-left: 100px;
    display: inline;
    font-weight: normal;
    font-size: 18px;
}

input {
    margin: 20px 0;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #EEA06B;
    padding: 10px 500px 10px 10px;
    color: #EEA06B;
    font-weight: 300;
    font-size: 18px;
    outline: none;
}

input::placeholder{
    border: none;
    background-color: transparent;
    font-weight: 300;
    font-size: 18px;
    color: #EEA06B;
}

p {
    color: #EEA06B;
}

ul {
    color: #EEA06B;
    text-decoration: none;
    list-style-type: none;
}

a {
    color: #EEA06B;
    text-decoration: none;
}

.list {
    padding: 20px;
    border-bottom: 1px solid #ee9f6b44;
}

.list:hover {
    background-color: #ee9f6b44;
    transition: 800ms;
    cursor: pointer;
}