.foot{
    position: fixed;
    bottom: 0vh;
    width: 100vw;
    border: 2px solid #AE887B;
    background-color: #AE887B;
    padding: 1.5em;
    color: #F0DED0;
    
}

p{
    position: fixed;
    left: 35em;
    bottom: 1em;

}