<div class="main">
      <div class="logo">

      </div>

      <form>
        <div class="mb-3">
        <input type="email" id="username" class="form-control" placeholder="enter github username..." [(ngModel)] = "result" name="result" (keyup)='searchUser()' autocomplete="off">
        </div>
      </form>


      <div class="card">
        <p><img src="{{ user.photo }}" alt="" /></p>
        <p>Name: {{ user.userName }}</p>
        <p>Bio: {{user.bio}}</p>
        <p>Followers: {{user.followers}}</p>
        <p>Following: {{user.following}}</p>
        <p>Repositories: {{user.repos}}</p>
        <button (click)= 'searchUserRepo()'>View {{ user.userName }}'s Repositories</button>
        <app-user-repo [repos] = 'userRepos'></app-user-repo>
      </div>


  </div>