.main {
    margin: 20vh auto;
    padding: 80px 80px;
    
    /* background: url(../../assets/img/circles.svg) no-repeat; */
    background-size: 70% 80%;
    background-position: center right;
    font-family: 'Bad Script', cursive;
    color: #fff;
}

.logo {
    margin-bottom: 70px;
}

.gradient-text{
    background: linear-gradient(90deg, #EEA06B 0%, #FFD973 100%);
    background-size: 100%;
    background-clip: text;
    color: transparent;
}

#heading {
    display: inline;
    font-weight: bold;
    font-size: 36px;
}

#sub-heading {
    display: inline;
    font-weight: normal;
    font-size: 18px;
}


#normal-text {
    margin-left: 100px;
    display: inline;
    font-weight: normal;
    font-size: 18px;
}

button {
    color: #fff;
    background: #c3c1ab;
    border: none;
    border-radius: 5px;
    padding: 15px 50px;
    margin-top: 20px;
    font-family: 'Bad Script', cursive;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
}

#user {
    margin-bottom: 20px;
}