.main {
    margin: 20vh auto;
    padding: 80px 80px;
    
    /* background: url(../../assets/img/circles.svg) no-repeat; */
    background-size: 70% 80%;
    background-position: center right;
    font-family: 'Bad Script', cursive;
    color: #fff;
}

.logo {
    margin-bottom: 70px;
}




button {
    position: absolute;
    color: #fff;
    background: #5e5946;
    border: none;
    border-radius: 5px;
    padding: 15px 50px;
    margin-top: 20px;
    font-family: 'Bad Script', cursive;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
}

#user {
    margin-bottom: 20px;
    bottom: 20em;
    left: 20em;
    width: 20em;
}

#repo{
    margin-bottom: 20px;
    bottom: 20em;
    right: 20em;
    width: 20em;
}

#or{
    margin-bottom: 20px;
    bottom: 20em;
    color: #4b533a;
    left: 42em;
    text-shadow: #000 22px;
      
}