
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Cookie&family=DM+Serif+Display:ital@1&family=Dongle&family=Exo+2:wght@100&family=Sacramento&family=Saira+Condensed:wght@100&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

html {
    scroll-behavior: smooth;
    
}

body {
    background-color: #f2f2f2;
    background-image: url(https://img.freepik.com/free-photo/hand-painted-watercolor-background_24972-1199.jpg?size=626&ext=jpg);
    background-repeat: initial;


}

.bg-items {
    position: absolute;
}

#top-left {
    top: 0;
    left: 0;
}

#bottom-right {
    bottom: 0;
    right: 0;
}

#top-right {
    top: 0;
    right: 0;
}

#bottom-left {
    bottom: 0;
    left: 0;
}

button:hover {
    cursor: pointer;
}