
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Cookie&family=DM+Serif+Display:ital@1&family=Dongle&family=Exo+2:wght@100&family=Sacramento&family=Saira+Condensed:wght@100&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
    
}

body {
    background-color: #e7e5d9;
    /* background-image: url(https://images.unsplash.com/photo-1493957988430-a5f2e15f39a3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-repeat: no-repeat; */

}

.bg-items {
    position: absolute;
}

#top-left {
    top: 0;
    left: 0;
}

#bottom-right {
    bottom: 0;
    right: 0;
}

#top-right {
    top: 0;
    right: 0;
}

#bottom-left {
    bottom: 0;
    left: 0;
}

button:hover {
    cursor: pointer;
}