* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #040D21;
}

.bg-items {
    position: absolute;
}

#top-left {
    top: 0;
    left: 0;
}

#bottom-right {
    bottom: 0;
    right: 0;
}

#top-right {
    top: 0;
    right: 0;
}

#bottom-left {
    bottom: 0;
    left: 0;
}

button:hover {
    cursor: pointer;
}